# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
prj/build/
# Other files and folders
.settings/

# Executables
cp llm_demo ${ROOT_PWD}
cp multimodel_demo ${ROOT_PWD}
*.swf
*.air
*.ipa
*.apk
*.rkllm

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
